@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loading-bar {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-loading-bar {
  animation: loading-bar 1.5s infinite linear;
}


html {
  scroll-behavior: smooth;
}

body {
  @apply bg-tactical-black text-white font-roboto;
}